html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: #3f6795;
  font-weight: 500;
}

.btn {
  text-align: center;
}

.btn button {
  background-color: #19a695;

  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.btn button:hover {
  cursor: pointer;
  background-color: #00bfa9;
}

.outOfStock {
  opacity: 0.8;
}

.outOfStock button {
  background-color: #95a6a4;
  cursor: not-allowed !important;
}
.outOfStock button:hover {
  background-color: #95a6a4;
}
